<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ごらくブログ</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <p>三上枝織: <a href="<%= shiori.recent_url %>" target="_blank" class="grkb">
        <%= shiori.recent_title %>
    </a></p>
    <p>大坪由佳: <a href="<%= yuka.recent_url %>" target="_blank" class="grkb">
        <%= yuka.recent_title %>
    </a></p>
    <p>津田美波: <a href="<%= minami.recent_url %>" target="_blank" class="grkb">
        <%= minami.recent_title %>
    </a></p>
    <p>大久保瑠美: <a href="<%= rumi.recent_url %>" target="_blank" class="grkb">
        <%= rumi.recent_title %>
        </a></p>
    <a href="/">【戻る】</a>
</boby>
</html>