<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>モバイルアルビレックス</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <p>アルビの鼓動: <a href="<%= beat.url %>" target="_blank" class="mbal">
        <%= beat.title %>
    </a></p>
    <p>広報ダイアリー: <a href="<%= staff.url %>" target="_blank" class="mbal">
        <%= staff.title %>
    </a></p>
    <p>ニュース: <a href="<%= news.url %>" target="_blank" class="mbal">
        <%= news.title %>
    </a></p>
    <p>アカデミー: <a href="<%= academy.url %>" target="_blank" class="mbal">
        <%= academy.title %>
    </a></p>
    <p>コラム: <a href="<%= column.url %>" target="_blank" class="mbal">
        <%= column.title %>
    </a></p>
    <p>フォトダイアリー: <a href="<%= photo.url %>" target="_blank" class="mbal">
        <%= photo.title %>
    </a></p>
    <a href="/">【戻る】</a>
</boby>
</html>